body {
  font-family: Arial, sans-serif;
  background-color: #2EBFA5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #1D1D1D;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.category-manager {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.category-form input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
}

.category-form button {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background-color: #1D1D1D;
  color: #fc8686;
  border: 3px solid #575757;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s ease;
}

.category-form button:hover {
  background-color: #2D1F1F;
}

.category-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.category-list li {
  background-color: #242424;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-list span {
  margin-right: 5px;
}

.category-list button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.category-list button:hover {
  opacity: 0.8;
}

#tituloGerenciamento {
  background: #e1e1e1;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

#actionEdit {
  background-color: #20272e;
  border: 3px solid #83bbf7;
  color: #83bbf7;
  margin-right: 5px;
}

#actionRemove {
  background-color: #2e2021;
  border: 3px solid #f7838f;
  color: #f7838f;
  margin-right: 5px;
}
