body {
    font-family: Arial, sans-serif;
    background-color: #2EBFA5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .product-management {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .product-form {
    width: 100%;
    max-width: 600px;
    min-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #2EBFA5;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-form h2 {
    color: #E1E1E1;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .product-form label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #868686;
    display: block;
  }
  
  .product-form input,
.product-form textarea,
.product-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 3px solid #333;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    color: #f4f4f4; 
    background-color: #f4f4f4;
}

  .product-form select:focus {
    border-color: #f55151;
    outline: none;
  }
  
  .file-input-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .file-input-wrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  
  .custom-file-button {
    background-color: #ff6b6b;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    transition: background-color 0.3s;
  }
  
  .custom-file-button:hover {
    background-color: #d44a4a;
    cursor: pointer;
  }
  
  .product-form button {
    max-width: 150px;
    margin-right: 10px;
    padding: 10px;
    transition: 0.3s ease;
    width: 100%;
    font-size: 20px;
    background-color: #F4F4F4;
    color: #fc8686;
    border: 3px solid #575757;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .product-form button:hover {
    background-color: #2D1F1F;
  }
  
  .product-form .button-group {
    display: flex;
    gap: 10px;
  }
  
  .product-list {
    width: 100%;
    max-width: 800px;
  }
  
  .product-list h2 {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .product-list label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #000000;
    display: block;
  }
  
  .product-list select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 3px solid #333;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    color: #E1E1E1;
  }

  .product-list select:focus {
    border-color: #FC8686;
    outline: none;
  }
  
  .product-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .product-list th,
  .product-list td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #d44a4a;
    color: #E1E1E1;
  }
  
  .product-list th {
    background-color: #1d1d1d;
    color: white;
  }
  
  .product-list button {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s;
  }
  
  .product-list button:hover {
    background-color: #c82333;
    opacity: 0.7;
  }
  
  .cadastro {
    background-color: #242424;
  }

  #actionEdit {
    margin-bottom: 5px;
  }
  
  .no-products {
    text-align: center;
    color: #fc8686;
    padding: 20px;
    font-style: italic;
  }
  
#product-name {
  background-color: #f4f4f4;
}